@import "tailwindcss";

html, body {
  overflow: hidden;

  min-height: 100vh;

  background: #1e1e1e;
}

/* 筛选所有带有data-title属性的元素 */
*[data-title] {
  position: relative;
}

[data-title]:hover:after {
  position: absolute;
  z-index: 1000;
  top: -34px;
  left: 50%;

  margin-top: 5px;
  padding: 4px 8px;

  content: attr(data-title);
  transform: translateX(-50%);
  white-space: nowrap;

  color: #fff;
  border-radius: 4px;
  background: #000;

  font-size: 12px;
}
